/* TYT Softwares, 
We Make Beautiful Buttons With CSS */

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    font-family: sans-serif;
}


/* WARNING STYLE */
h2 {
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    color: #FFFF00;
    text-align: center;
    font-weight: lighter;
    font-family: system-ui, Roboto;
}


/* BUTTON STYLE */
button {
    border: none;
    border-radius: 4px;
    padding: 8px 116px;
    font-size: 27px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

button.increase {
    background-color: #6495ED;
    color: white;
    alt: 'Increase';
}

button.decrease {
    background-color: #ed64af;
    color: rgb(0, 0, 0); 
    alt: 'Decrease';
}


/* COUNTER STYLE */
h1 {
    color: bisque;
    text-align: center;
    font-size: 90px;
}
